.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  

  .sn-container{
      padding: 5px;
  }

  

  
.mat-grid-list{
    margin-bottom: 5rem; 
}
 