.project-image {
    max-height: 175px;
}

.project-card{
    margin: 2em;
    max-width: 250px;
    max-height: 350px;
  
}


.project-header-image {
    background-image: url('/assets/img/coding-thumb.jpg');
    background-size: cover;
  }

  .liked {
      color: #e47b5e;
  }

  .action-icon {
    padding: 0 14px;
  }