<h1 mat-dialog-title>dd</h1>
<p mat-dialog-content>
Lorem ipsum, dolor sit amet 
    consectetur adipisicing elit. Deleniti aspernatur inventore necessitatibus iusto
     mollitia suscipit facere beatae magni alias molestias ad, in blanditiis quae officia 
     facilis perferendis veritatis dolorem recusandae.

</p>
<mat-dialog-actions>
        <button mat-button mat-dialog-close>No</button>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
        <button mat-button [mat-dialog-close]="true">Yes</button>
      </mat-dialog-actions>