.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .header-avtar{
    background-image: url('/assets/img/logo_swap.png');
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50px;
  }